<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= @staff_member.family_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @staff_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff_member.last_name %>
</p>

<p>
  <strong>Preferred name:</strong>
  <%= @staff_member.preferred_name %>
</p>

<p>
  <strong>Wiogora name:</strong>
  <%= @staff_member.wiogora_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff_member.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @staff_member.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @staff_member.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @staff_member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @staff_member.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @staff_member.zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff_member.email %>
</p>

<p>
  <strong>Education experience:</strong>
  <%= @staff_member.education_experience %>
</p>

<p>
  <strong>Why work here:</strong>
  <%= @staff_member.why_work_here %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @staff_member.availability %>
</p>

<p>
  <strong>Role:</strong>
  <%= @staff_member.role %>
</p>

<p>
  <strong>Role category:</strong>
  <%= @staff_member.role_category %>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @staff_member.shirt_size %>
</p>

<p>
  <strong>Returning staff:</strong>
  <%= @staff_member.returning_staff %>
</p>

<p>
  <strong>House:</strong>
  <%= @staff_member.house %>
</p>

<p>
  <strong>Guiding class:</strong>
  <%= @staff_member.guiding_class %>
</p>

<p>
  <strong>Food allergies:</strong>
  <%= @staff_member.food_allergies %>
</p>

<p>
  <strong>Background check agreement:</strong>
  <%= @staff_member.background_check_agreement %>
</p>

<p>
  <strong>Program philosophy agreement:</strong>
  <%= @staff_member.program_philosophy_agreement %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @staff_member.notes %>
</p>

<p>
  <strong>Parent permission:</strong>
  <%= @staff_member.parent_permission %>
</p>

<p>
  <strong>Parent email:</strong>
  <%= @staff_member.parent_email %>
</p>

<p>
  <strong>Entering grade:</strong>
  <%= @staff_member.entering_grade %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @staff_member.activities %>
</p>

<p>
  <strong>Essay:</strong>
  <%= @staff_member.essay %>
</p>

<%= link_to 'Edit', edit_staff_member_path(@staff_member) %> |
<%= link_to 'Back', staff_members_path %>
