<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= @camper.family_id %>
</p>

<p>
  <strong>Alt address1:</strong>
  <%= @camper.alt_address1 %>
</p>

<p>
  <strong>Alt address2:</strong>
  <%= @camper.alt_address2 %>
</p>

<p>
  <strong>Alt city:</strong>
  <%= @camper.alt_city %>
</p>

<p>
  <strong>Alt state:</strong>
  <%= @camper.alt_state %>
</p>

<p>
  <strong>Alt zipcode:</strong>
  <%= @camper.alt_zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @camper.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @camper.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @camper.last_name %>
</p>

<p>
  <strong>Preferred name:</strong>
  <%= @camper.preferred_name %>
</p>

<p>
  <strong>Pronoun:</strong>
  <%= @camper.pronoun %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @camper.birthdate %>
</p>

<p>
  <strong>Faith:</strong>
  <%= @camper.faith %>
</p>

<p>
  <strong>Congregation:</strong>
  <%= @camper.congregation %>
</p>

<p>
  <strong>House:</strong>
  <%= @camper.house %>
</p>

<p>
  <strong>House preference:</strong>
  <%= @camper.house_preference %>
</p>

<p>
  <strong>House q1:</strong>
  <%= @camper.house_q1 %>
</p>

<p>
  <strong>House q2:</strong>
  <%= @camper.house_q2 %>
</p>

<p>
  <strong>House q3:</strong>
  <%= @camper.house_q3 %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @camper.friends %>
</p>

<%= link_to 'Edit', edit_camper_path(@camper) %> |
<%= link_to 'Back', campers_path %>
