<!DOCTYPE html>
<html>
<head>
  <title>Wiogora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id='background-image'></div> <!-- necessary for early versions if IE to work -->

	<%= link_to image_tag("logo.png", alt: "Wiogora School of Wonder & Wisdom"), root_path, :class => "sites-header-logo" %>


	<ul class=sites-header-nav>
		<%= link_to_in_li "Home", root_path %>
		<%= link_to_in_li "Campers", campers_path %>
		<%= link_to_in_li "Families", families_path %>
		<%= link_to_in_li "Payments", payments_path %>
		<%= link_to_in_li "Registrations", registrations_path %>
		<%= link_to_in_li "Shirt orders", shirt_orders_path %>
		<%= link_to_in_li "Frequently Asked Questions", pages_faq_path %>
	</ul>

	<%= yield %>

</body>
</html>
