<!DOCTYPE html>
<html>
<head>
  <title>Wiogora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->

</head>
<body>

	<div id='background-image'></div> <!-- necessary for early versions if IE to work -->

	<%= link_to image_tag("logo.png", alt: "Wiogora School of Wonder & Wisdom"), root_path, :class => "sites-header-logo" %>


	<%= render 'layouts/navbar' %>
	
	<%= yield %>

</body>
</html>
